[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ?????
[access "refs/*"]
	owner = group user/gupei2015
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/gupei2015
	label-Verified = -1..+1 group user/gupei2015
	push = group user/gupei2015
	read = group user/gupei2015
	rebase = group user/gupei2015
	removeReviewer = group user/gupei2015
	submit = group user/gupei2015
[access "refs/heads/*"]
	create = group user/gupei2015
	push = +force group user/gupei2015
	pushMerge = group user/gupei2015
	read = group user/gupei2015
[access "refs/tags/*"]
	push = group user/gupei2015
	push = +force group user/gupei2015
